<div class="grid grid-cols-8 gap-3">
    {{#unless game.active}}
        <div class="grid grid-cols-3 col-span-6 gap-4">
            <div></div>
            <div
                class="flex flex-col items-center justify-center p-4 bg-white shadow-lg card rounded-2xl"
            >
                <img src="/images/face.webp" alt="sum ting wong" />
                <div>Username: {{user.display_name}}</div>
                <div>Number of Wins: {{user.num_wins}}</div>
                <div>Number of Loss: {{user.num_loss}}</div>
            </div>
            <div></div>
            <div
                class="flex flex-col items-center justify-center p-4 bg-white shadow-lg card rounded-2xl"
            >
                <img src="/images/face.webp" alt="sum ting wong" />
                <div>Username: {{display_name}}</div>
                <div>Info1: </div>
                <div>Info2: </div>
                <div>Info3: </div>
            </div>
            <div
                class="flex flex-col items-center justify-center p-4 bg-white shadow-lg card rounded-2xl"
            >
                <img src="/images/face.webp" alt="sum ting wong" />
                <div>Username: {{display_name}}</div>
                <div>Info1: </div>
                <div>Info2: </div>
                <div>Info3: </div>
            </div>
            <div
                class="flex flex-col items-center justify-center p-4 bg-white shadow-lg card rounded-2xl"
            >
                <img src="/images/face.webp" alt="sum ting wong" />
                <div>Username: {{username}}</div>
                <div>Info1: </div>
                <div>Info2: </div>
                <div>Info3: </div>
            </div>

            <div></div>
            <div class="flex items-center justify-center">
                <a
                    class="w-1/2 px-4 py-2 font-bold text-center text-white bg-sky-500 hover:bg-sky-700"
                    href="/game/{{game.game_id}}/startGame"
                >
                    <!-- FIXME: Don't redirect, make get request to game/api/startGame-->
                    Start Game</a>
            </div>
            <div></div>

        </div>
    {{else}}
        <div class="grid grid-cols-3 col-span-6">
            <div class="col-span-1"></div>
            <div class="col-span-1 cardStateRows northPlayer">
                <div class="cardWrapper">
                    <div class="unoCard flipped">
                        <span class="inner">
                            <span class="mark"></span>
                        </span>
                    </div>
                </div>
                <div class="cardWrapper">
                    <div class="unoCard flipped">
                        <span class="inner">
                            <span class="mark"></span>
                        </span>
                    </div>
                </div>
                <div class="cardWrapper">
                    <div class="unoCard flipped">
                        <span class="inner">
                            <span class="mark"></span>
                        </span>
                    </div>
                </div>
                <div class="cardWrapper">
                    <div class="unoCard flipped">
                        <span class="inner">
                            <span class="mark"></span>
                        </span>
                    </div>
                </div>
                <div class="cardWrapper">
                    <div class="unoCard flipped">
                        <span class="inner">
                            <span class="mark"></span>
                        </span>
                    </div>
                </div>
                <div class="cardWrapper">
                    <div class="unoCard flipped">
                        <span class="inner">
                            <span class="mark"></span>
                        </span>
                    </div>
                </div>
                <div class="cardWrapper">
                    <div class="unoCard flipped">
                        <span class="inner">
                            <span class="mark"></span>
                        </span>
                    </div>
                </div>
                <div class="cardWrapper">
                    <div class="unoCard flipped">
                        <span class="inner">
                            <span class="mark"></span>
                        </span>
                    </div>
                </div>
                <div class="cardWrapper">
                    <div class="unoCard flipped">
                        <span class="inner">
                            <span class="mark"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-span-1"></div>
            <div class="col-span-1 cardStateRows westPlayer">
                <div class="cardWrapper">
                    <div class="unoCard flipped">
                        <span class="inner">
                            <span class="mark"></span>
                        </span>
                    </div>
                </div>
                <div class="cardWrapper">
                    <div class="unoCard flipped">
                        <span class="inner">
                            <span class="mark"></span>
                        </span>
                    </div>
                </div>
                <div class="cardWrapper">
                    <div class="unoCard flipped">
                        <span class="inner">
                            <span class="mark"></span>
                        </span>
                    </div>
                </div>
                <div class="cardWrapper">
                    <div class="unoCard flipped">
                        <span class="inner">
                            <span class="mark"></span>
                        </span>
                    </div>
                </div>
                <div class="cardWrapper">
                    <div class="unoCard flipped">
                        <span class="inner">
                            <span class="mark"></span>
                        </span>
                    </div>
                </div>
                <div class="cardWrapper">
                    <div class="unoCard flipped">
                        <span class="inner">
                            <span class="mark"></span>
                        </span>
                    </div>
                </div>
                <div class="cardWrapper">
                    <div class="unoCard flipped">
                        <span class="inner">
                            <span class="mark"></span>
                        </span>
                    </div>
                </div>
                <div class="cardWrapper">
                    <div class="unoCard flipped">
                        <span class="inner">
                            <span class="mark"></span>
                        </span>
                    </div>
                </div>
                <div class="cardWrapper">
                    <div class="unoCard flipped">
                        <span class="inner">
                            <span class="mark"></span>
                        </span>
                    </div>
                </div>
            </div>

            <div
                class="flex items-center content-center justify-center col-span-1"
            >
                <div class="cardWrapper">
                    <div class="unoCard flipped">
                        <span class="inner">
                            <span class="mark"></span>
                        </span>
                        <div class="unoCard flipped drawCard">
                            <span class="inner">
                                <span class="mark"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="cardWrapper">
                    <div class="unoCard num-3 green">
                        <span class="inner">
                            <span class="mark"></span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-span-1 cardStateRows eastPlayer">
                <div class="cardWrapper">
                    <div class="unoCard flipped">
                        <span class="inner">
                            <span class="mark"></span>
                        </span>
                    </div>
                </div>
                <div class="cardWrapper">
                    <div class="unoCard flipped">
                        <span class="inner">
                            <span class="mark"></span>
                        </span>
                    </div>
                </div>
                <div class="cardWrapper">
                    <div class="unoCard flipped">
                        <span class="inner">
                            <span class="mark"></span>
                        </span>
                    </div>
                </div>
                <div class="cardWrapper">
                    <div class="unoCard flipped">
                        <span class="inner">
                            <span class="mark"></span>
                        </span>
                    </div>
                </div>
                <div class="cardWrapper">
                    <div class="unoCard flipped">
                        <span class="inner">
                            <span class="mark"></span>
                        </span>
                    </div>
                </div>
                <div class="cardWrapper">
                    <div class="unoCard flipped">
                        <span class="inner">
                            <span class="mark"></span>
                        </span>
                    </div>
                </div>
                <div class="cardWrapper">
                    <div class="unoCard flipped">
                        <span class="inner">
                            <span class="mark"></span>
                        </span>
                    </div>
                </div>
                <div class="cardWrapper">
                    <div class="unoCard flipped">
                        <span class="inner">
                            <span class="mark"></span>
                        </span>
                    </div>
                </div>
                <div class="cardWrapper">
                    <div class="unoCard flipped">
                        <span class="inner">
                            <span class="mark"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-span-1"></div>
            <div class="col-span-1 cardStateRows playerDeck">
                <div class="cardWrapper">
                    <div class="unoCard num-0 blue">
                        <span class="inner">
                            <span class="mark"></span>
                        </span>
                    </div>
                </div>
                <div class="cardWrapper">
                    <div class="unoCard num-1 red">
                        <span class="inner">
                            <span class="mark"></span>
                        </span>
                    </div>
                </div>
                <div class="cardWrapper">
                    <div class="unoCard num-2 red">
                        <span class="inner">
                            <span class="mark"></span>
                        </span>
                    </div>
                </div>
                <div class="cardWrapper">
                    <div class="unoCard num-3 blue">
                        <span class="inner">
                            <span class="mark"></span>
                        </span>
                    </div>
                </div>
                <div class="cardWrapper">
                    <div class="unoCard num-4 green">
                        <span class="inner">
                            <span class="mark"></span>
                        </span>
                    </div>
                </div>
                <div class="cardWrapper">
                    <div class="unoCard num-0 yellow">
                        <span class="inner">
                            <span class="mark"></span>
                        </span>
                    </div>
                </div>
                <div class="cardWrapper">
                    <div class="unoCard num-6 red">
                        <span class="inner">
                            <span class="mark"></span>
                        </span>
                    </div>
                </div>
                <div class="cardWrapper">
                    <div class="unoCard skip green">
                        <span class="inner">
                            <span class="mark"></span>
                        </span>
                    </div>
                </div>
                <div class="cardWrapper">
                    <div class="unoCard num-8 yellow">
                        <span class="inner">
                            <span class="mark"></span>
                        </span>
                    </div>
                </div>
                <div class="cardWrapper">
                    <div class="unoCard num-9 blue">
                        <span class="inner">
                            <span class="mark"></span>
                        </span>
                    </div>
                </div>
                <div class="cardWrapper">
                    <div class="unoCard reverse blue">
                        <span class="inner">
                            <span class="mark"></span>
                        </span>
                    </div>
                </div>
                {{! wild }}
                <div class="cardWrapper">
                    <div class="unoCard wild black">
                        <span class="inner">
                            <span class="wildMark">
                                <div class="wildRed wildCard"></div>
                                <div class="wildBlue wildCard"></div>
                                <div class="wildYellow wildCard"></div>
                                <div class="wildGreen wildCard"></div>
                            </span>
                        </span>
                    </div>
                </div>
                {{! wild 4 }}
                <div class="cardWrapper">
                    <div class="unoCard wild4 black">
                        <span class="inner">
                            <span class="wild4Mark">
                                <div class="wildRed wildCard"></div>
                                <div class="wildBlue wildCard"></div>
                                <div class="wildYellow wildCard"></div>
                                <div class="wildGreen wildCard"></div>
                            </span>
                        </span>
                    </div>
                </div>

                {{! Testing draggable purely html buggy... }}
                <div
                    class="cardWrapper"
                    id="drag1"
                    draggable="true"
                    ondragstart="drag(event)"
                >
                    <div class="unoCard plus2 blue">
                        <span class="inner">
                            <span class="mark"></span>
                        </span>
                    </div>
                </div>

            </div>
            <div class="relative col-span-1">
                <button
                    {{! callUno will be used with tandem with an event listener to call the back }}
                    id="challenge"
                    class="absolute bottom-0 right-0 px-4 py-2 mb-4 font-bold text-white rounded bg-sky-500 hover:bg-sky-700"
                >Challenge</button>
            </div>
            <div class="relative col-span-1">
                <button
                    {{! callUno will be used with tandem with an event listener to call the back }}
                    id="callUno"
                    class="absolute bottom-0 right-0 px-4 py-2 mb-4 font-bold text-white rounded bg-sky-500 hover:bg-sky-700"
                >Uno</button>
            </div>
        </div>
    {{/unless}}
    {{! Chat Box }}
    <div
        class="flex flex-col space-y-2 col-span-2 h-[calc(100vh_-_112px)] p-2 bg-slate-200"
    >
        <div class="flex flex-row font-bold text-black">
            <p class="w-full text-center">Chat</p>
        </div>
        <div class="p-2 overflow-y-auto bg-white grow">

            <div class="p-2">
                <span class="font-bold text-sky-700">Eric: </span>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
            </div>

            <div class="p-2">
                <span class="font-bold text-green-700">John: </span>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of
                Lorem Ipsum.
            </div>

            <div class="p-2">
                <span class="font-bold text-red-700">Eddy: </span>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of
                Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing
                and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a type
                specimen book. It has survived not only five centuries, but also
                the leap into electronic typesetting, remaining essentially
                unchanged. It was popularised in the 1960s with the release of
                Letraset sheets containing Lorem Ipsum passages, and more
                recently with desktop publishing software like Aldus PageMaker
                including versions of Lorem Ipsum.
            </div>

            <div class="p-2">
                <span class="font-bold text-red-700">Eddy: </span>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of
                Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing
                and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a type
                specimen book. It has survived not only five centuries, but also
                the leap into electronic typesetting, remaining essentially
                unchanged. It was popularised in the 1960s with the release of
                Letraset sheets containing Lorem Ipsum passages, and more
                recently with desktop publishing software like Aldus PageMaker
                including versions of Lorem Ipsum.
            </div>

            <div class="p-2">
                <span class="font-bold text-red-700">Eddy: </span>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of
                Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing
                and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a type
                specimen book. It has survived not only five centuries, but also
                the leap into electronic typesetting, remaining essentially
                unchanged. It was popularised in the 1960s with the release of
                Letraset sheets containing Lorem Ipsum passages, and more
                recently with desktop publishing software like Aldus PageMaker
                including versions of Lorem Ipsum.
            </div>

        </div>
        <div class="flex flex-row">
            <textarea
                class="w-full p-2 resize-none"
                name=""
                height="100%"
                id="socket_message"
                placeholder="Message here"
            ></textarea>
            <button
                id="in_game_socket_message_button"
                class="w-32 h-24 px-4 py-2 font-bold text-white bg-sky-500 hover:bg-sky-700"
                {{! onclick="socket.emit('client-message', 'Hello FROM BUTTON'); console.log(`BUTTON CLICKED`)" }}
            >
                Send
            </button>
        </div>
    </div>
</div>