<div class="grid grid-cols-8 gap-3">
    {{! players }}
    <div class="grid grid-cols-3 col-span-6">
        <div></div>
        <div
            class="card bg-white flex flex-col items-center justify-center p-4 shadow-lg rounded-2xl"
        >
            <img
                class="w-50 h-50"
                src="/images/face.webp"
                alt="sum ting wong"
            />
            <div>Username: {{username}}</div>
            <div>Info1: </div>
            <div>Info2: </div>
            <div>Info3: </div>
        </div>
        <div></div>
        <div
            class="card bg-white flex flex-col items-center justify-center p-4 shadow-lg rounded-2xl"
        >
            <img
                class="w-50 h-50"
                src="/images/face.webp"
                alt="sum ting wong"
            />
            <div>Username: {{username}}</div>
            <div>Info1: </div>
            <div>Info2: </div>
            <div>Info3: </div>
        </div>
        <div
            class="card bg-white flex flex-col items-center justify-center p-4 shadow-lg rounded-2xl"
        >
            <img
                class="w-50 h-50"
                src="/images/face.webp"
                alt="sum ting wong"
            />
            <div>Username: {{username}}</div>
            <div>Info1: </div>
            <div>Info2: </div>
            <div>Info3: </div>
        </div>
        <div
            class="card bg-white flex flex-col items-center justify-center p-4 shadow-lg rounded-2xl"
        >
            <img
                class="w-50 h-50"
                src="/images/face.webp"
                alt="sum ting wong"
            />
            <div>Username: {{username}}</div>
            <div>Info1: </div>
            <div>Info2: </div>
            <div>Info3: </div>
        </div>
        <div
            class="card bg-white flex flex-col items-center justify-center p-4 shadow-lg rounded-2xl"
        >
            <img
                class="w-50 h-50"
                src="/images/face.webp"
                alt="sum ting wong"
            />
            <div>Username: {{username}}</div>
            <div>Info1: </div>
            <div>Info2: </div>
            <div>Info3: </div>
        </div>
        <div
            class="card bg-white flex flex-col items-center justify-center p-4 shadow-lg rounded-2xl"
        >
            <img
                class="w-50 h-50"
                src="/images/face.webp"
                alt="sum ting wong"
            />
            <div>Username: {{username}}</div>
            <div>Info1: </div>
            <div>Info2: </div>
            <div>Info3: </div>
        </div>
        <div
            class="card bg-white flex flex-col items-center justify-center p-4 shadow-lg rounded-2xl"
        >
            <img
                class="w-50 h-50"
                src="/images/face.webp"
                alt="sum ting wong"
            />
            <div>Username: {{username}}</div>
            <div>Info1: </div>
            <div>Info2: </div>
            <div>Info3: </div>
        </div>
        <div
            class="card bg-white flex flex-col items-center justify-center p-4 shadow-lg rounded-2xl"
        >
            <img
                class="w-50 h-50"
                src="/images/face.webp"
                alt="sum ting wong"
            />
            <div>Username: {{username}}</div>
            <div>Info1: </div>
            <div>Info2: </div>
            <div>Info3: </div>
        </div>
        <div
            class="card bg-white flex flex-col items-center justify-center p-4 shadow-lg rounded-2xl"
        >
            <img
                class="w-50 h-50"
                src="/images/face.webp"
                alt="sum ting wong"
            />
            <div>Username: {{username}}</div>
            <div>Info1: </div>
            <div>Info2: </div>
            <div>Info3: </div>
        </div>
        <div
            class="card bg-white flex flex-col items-center justify-center p-4 shadow-lg rounded-2xl"
        >
            <img
                class="w-50 h-50"
                src="/images/face.webp"
                alt="sum ting wong"
            />
            <div>Username: {{username}}</div>
            <div>Info1: </div>
            <div>Info2: </div>
            <div>Info3: </div>
        </div>
    </div>
    {{! chat box }}
    {{! <div class="col-span-2 border border-black relative">
        <div class="overflow-auto">
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of
                Lorem Ipsum.
            </p>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of
                Lorem Ipsum.
            </p>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of
                Lorem Ipsum.
            </p>
        </div>
        <textarea
            class="border border-black absolute bottom-0 resize-none w-full"
            name=""
            id=""
            cols="30"
            rows="10"
            placeholder="Talk Smack"
        ></textarea>
    </div>
     }}
    <div class="grid grid-col-1 col-span-2 border border-black relative">
        <div class="grid-row-2">

        </div>
    </div>
</div>